.header {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  position: relative;
}

.header__text-container {
  max-width: 608px;
  margin: 0 auto;
}

.header__content {
  margin: 0 auto;
  text-align: left;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../assets/header__background.png);
  background-size: cover;
  background-position: center;
}

.header__title {
  margin: 80px 0 0 0;
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  padding: 80px 0 32px 0;
  /* max-width: 608px; */
}

.header__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0 0 88px;
  /* max-width: 608px; */
}
@media (max-width: 777px) {
  .header {
    width: 100%;
  }

  .header__content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
}
